<%- include('_header') %>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1><%= __('Adverts list') %></h1>
      <p class="lead"><%= __('Listing') %> <%= anuncios.length %> <%= __n('adverts', anuncios.length) %>  </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead><tr>
          <th><%= __('Name') %></th>
          <th><%= __('Sale') %></th>
          <th style="text-align: right"><%= __('Price') %></th>
          <th><%= __('Photo') %></th>
          <th><%= __('Tags') %></th>
          <th>#</th>
        </tr></thead>
        <tbody>
<% anuncios.forEach(anuncio => { %>
          <tr>
            <td><%= anuncio.nombre %></td>
            <td><%= anuncio.venta ? __('Yes') : __('No') %></td>
            <td style="text-align: right"><%= anuncio.precio %>€</td>
            <td><img src="<%= imagesPath + anuncio.foto %>"></td>
            <td><%= anuncio.tags %></td>
            <td><%= anuncio._id %></td>
          </tr>
<% }) %>
        </tbody>
      </table>

      <p><%= __('Examples') %>:</p>

      <ul>
        <li><a href="?"><%= __('All') %></a></li>
        <li><a href="?start=2&limit=2"><%= __('In pages') %></a></li>
        <li><a href="?sort=precio"><%= __('Sorted by ascending price') %></a></li>
        <li><a href="?sort=-precio"><%= __('Sorted by descending price') %></a></li>
        <li><a href="?tag=mobile"><%= __('With mobile tag') %></a></li>
      </ul>

    </div>
  </div>

  <a href="/"><%= __('Return home') %></a>

</div>
<%- include('_footer') %>
